* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "VT323";
  background: url("images/cavern.png");
  background-size: cover;
  font-size: 5px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.title {
  position: absolute;
  top: 35px;
  color: lightblue;
  font-family: "VT323";
  font-size: 10em;
}

.cursor {
  height: 110px;
  width: 100px;
  position: absolute;
  top: 100px;
  left: 100px;
  background-image: url("images/hammer.png");
  background-size: 100% 100%;
  transform: translate(-20%, -20%);
  transition: transform 0.1s;
  pointer-events: none;

}

.cursor.active {
  transform: translate(-20%, -20%) rotate(-45deg);
}

.score {
  position: absolute;
  top: 45px;
  left: 50px;
  font-size: 6em;
  margin-bottom: 0.5em;
}

.timerText {
  position: absolute;
  top: 70px;
  left: 50px;
  font-size: 6em;
}

.timer {
  position: absolute;
  top: 70px;
  left: 130px;
  font-size: 6em;
}

.startTimer {
  position: absolute;
  top: 100px;
  left: 50px;
  font-size: 6em;
  font-family: "VT323";
  background-color: yellow;
  border-radius: 10%;
}

label {
  position: absolute;
  top: 50px;
  right: 90px;
  font-size: 6em;
}

#multiples {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 6em;
  font-family: "VT323";
}

.board {
  height: 600px;
  width: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  /* cursor: none; */
}

.hole {
  position: relative;
  overflow: hidden;
}

.hole::after {
  display: block;
  content: " ";
  background: url("images/mudpile.png") bottom center no-repeat;
  background-size: contain;
  position: absolute;
  width: 100%;
  height: 90px;
  bottom: -30px;
  
}

.hole .mole {
  background: url("images/diglett.png") bottom center no-repeat;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  animation: rise 0.5s ease;
  
}

@keyframes rise {
  0% {
    transform: translateX(-50%) translateY(100%);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}

#moletext {
  position: relative;
  width: 5em;
  height: 5em;
  left: 75px;
  top: 105px;
  font-size: 50px;
  color: black;
}

img {
  position: absolute;
  width: 100%;
  top: 5%;
  left: 49%;
  transform: translateX(-50%);
  bottom: 0;
}